$def with ()

<div class="container-fluid section_header" id="introContainer">
	<div class="container">
		<div class="row">
			<div class="col-md-12 align_center">
				<!-- dont remove or change -->
				<h2 id="credits_header_title">Credits</h2>
			</div>
		</div>
	</div>
</div>

<section class="container-fluid background_light" id="credits_anchor">
	<div class="container" id="intro_anchor">
		<div class="row">
			<div class="col-md-12 justify">
				<h4 class="align_center" id="credits_supervisors">Supervisor</h4>
				<p class="align_center"><a href="https://www.unibo.it/sitoweb/francesca.tomasi" target="_blank" alt="Francesca Tomasi website">Francesca Tomasi</a></p>
			</div>
			<div class="col-md-12 justify">
				<h4 class="align_center" id="credits_tei">XML/TEI modelling and markup</h4>
				<p class="align_center"><a href="https://www.unibo.it/sitoweb/francesc.giovannett6" target="_blank" alt="Francesca Giovannetti website">Francesca Giovannetti</a></p>
			</div>
			<div class="col-md-12 justify">
				<h4 class="align_center" id="credits_rdf">RDF modelling and development</h4>
				<p class="align_center"><a href="https://www.unibo.it/sitoweb/marilena.daquino2" target="_blank" alt="Marilena Daquino website">Marilena Daquino</a></p>
			</div>
			<div class="col-md-12 justify">
				<h4 class="align_center" id="credits_web_dev">Web design and application</h4>
				<p class="align_center"><a href="https://www.unibo.it/sitoweb/martina.dellobuono2" target="_blank" alt="Martina Dello Buono website">Martina Dello Buono</a></p>
			</div>
			<div class="col-md-12 justify">
				<h4 class="align_center" id="credits_citation">Cite as</h4>
				<p class="align_center" id="credits_citation_string">Daquino, M., Dello Buono, M., Giovannetti, F., and Tomasi, F. (2020). Paolo Bufalini, Appunti (1981-1991) [Semantic Scholarly Digital Edition]. Digital Humanities Advanced Research Centre (/DH.arc), <a href="https://doi.org/10.6092/unibo/amsacta/6415" target="_blank">https://doi.org/10.6092/unibo/amsacta/6415</a></p>
			</div>
		</div>
	</div>
</div>

<!-- footer -->
<div class="container-fluid background_red">
    <div class="container footer">
        <div class="row">
            <div class="col-md-5 col-sm-6 justify">
                <h4 class="text_light" id="footer_title_1"></h4>
                <p class="text_light footer_text"><a href="sparql" class="link_footer">SPARQL endpoint</a></p>
                <p class="text_light footer_text"><a href="downloadDataset" class="link_footer" id="footer_download">Download the dataset</a></p>
            </br>
                <p class="text_light footer_text"><a href="specifications" class="link_footer" id="footer_documentation_1">Technical specifications</a></p>
                <p class="text_light footer_text"><a href="webApplication" class="link_footer" id="footer_web_app">Web application</a></p>
                <!--<p class="text_light footer_text"><a href="publications" class="link_footer" id="footer_pub"></a></p>-->
            </br>
                <p class="text_light footer_text"><a href="credits" class="link_footer">Credits</a></p>
                <p class="text_light footer_text"><a href="licences" class="link_footer" id="footer_licences">Licences</a></p>
            </div>
            <div class="col-md-6 col-sm-6 col-md-offset-1 justify">
                <h4 class="text_light">/DH.arc - Digital Humanities Advanced Research Centre</h4>
                <p class="text_light footer_text"><a href="https://centri.unibo.it/dharc/en" target="_blank" alt="Dharc website" class="link_footer">About</a></p>
                <p class="text_light footer_text"><a href="https://centri.unibo.it/dharc/en/research/projects-at-dh-arc" target="_blank" alt="Dharc website" class="link_footer" id="dharc_projects_documentation">All /DH.arc projects</a></p>
                <p class="text_light footer_text"><a href="https://centri.unibo.it/dharc/en/contacts" target="_blank" alt="Dharc website" class="link_footer" id="footer_contacts">Contacts</a></p>
            </br>
                <img src="/static/img-web-app/dharc_logo.png" class="img-xs" id="logo_dharc">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid background_red_light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 justify">
               <p class="align_center footer_copyright text_light">© Copyright (c) 2021 by /DH.arc - Digital Humanities Advanced Research Centre.</p>
            </div>
        </div>
    </div>
</div>
