$def with (dict, metadataDict)
	
	
	
	
    	<ul class="nav nav-tabs" id="myTab" role="tablist">
		  <li class="nav-item">
		    <a class="nav-link" id="modal-tab" data-toggle="tab" href="#modal" role="tab" aria-controls="modal" aria-selected="true">modal</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="transcription_tab" data-toggle="tab" href="#transcription" role="tab" aria-controls="transcription" aria-selected="false">trascrizione</a>
		  </li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade col-md-12" id="modal" role="tabpanel" aria-labelledby="modal-tab">
				<section class="col-md-4" id="textViewer">
					
					<select id="pages" class="col-md-9">
						<option selected id="pages_select">Pages</option>
			        </select>
			        
			        <section id='output'>
			        	<p id="infoContainer"></p>
			        </section>
			    </section>
			    <section class="col-md-8" id="viewerContainer">
			    	<section class="col-md-1">
			    		<button id="prev">&lt;</button>
			    	</section>
			    	
					<section id="viewer" class="col-md-10"></section>
					<section class="col-md-1">
						<button id="next">&gt;</button>
					</section>
			    </section>
			</div>
			<div class="tab-pane fade" id="transcription" role="tabpanel" aria-labelledby="transcription_tab">
				<section id="transcriptionViewer" class="col-md-12">
					<script type="text/javascript">
						$$( "#transcriptionViewer" ).load('./static/quaderno.html');
					</script>
				</section>
			</div>

		</div>


    	<!-- <a id="swapprevsimg">Prev</a>
    	<a id="swapnextimg">Next</a> -->
    	
    
    <script id="excerpts" type="application/json">$:dict</script>
    <script id="metadata" type="application/json">$:metadataDict</script>
			

			