$def with (dict, metadataDict, num)
$var mainjs = '/static/script/notebook.js'
$var imgResizer = '/static/script/imageMapResizer.min.js'
$var mapifyjs = '/static/script/jquery.mapify.js'
$var fontawesome = '/static/script/fontawesome-all.js'
$var i18n = '/static/script/jquery.i18n.properties.js'
$var cookies = '/static/script/cookies.js'
$var maincss = '/static/css/notebook.css'
$var mapifycss = '/static/css/jquery.mapify.css'
	
	<section class="col-md-3" id="textViewer">
		<select id="pages" class="col-md-9">
			<option selected disabled id="pages_select">Pages</option>
        </select>
        
        <section id='output'>
        	<p id="infoContainer"></p>
        </section>
    </section>
	
    <section class="col-md-9">
    	<!-- <a id="swapprevsimg">Prev</a>
    	<a id="swapnextimg">Next</a> -->
    	<section class="col-md-1">
            <button id="prev">&lt;</button>
        </section>
        
        <section id="viewer" class="col-md-10"></section>
        <section class="col-md-1">
            <button id="next">&gt;</button>
        </section>
    </section>
    <script id="excerpts" type="application/json">$:dict</script>
    <script id="metadata" type="application/json">$:metadataDict</script>
			

			