$def with (sortedWorkAuth, dictIndexWorks)

	<section class="col-md-12 section_header" id="introContainer" style="display: none;">
		<div class="container">
			<div class="row">
				<div class="col-md-12 align_center">
					<!-- dont remove or change -->
					<h2 id="works_indexes_header_title">Index of Works</h2>
				</div>
			</div>
		</div>
	</section>

	<!-- People Index -->
	<!-- intro.js tutorial step 1 -->
	<section class="col-md-12" id="introContainer" data-title="Index of Works" data-intro="The Index of Works includes all cited works." data-step="1">
		<div class="container-fluid" style="padding-right: 0px; padding-left: 0px;">
			<div class="row">
				<!-- filters -->
				<!-- intro.js tutorial step 4 -->
				<div class="col-md-2 col-sm-3 panel_tool facets_panel_box_people reduced-window responsive-height" id="facets_panel_box_people" data-title="Filters" data-intro="You can use the filters to filter the index contents according to specific parameters available below." data-step="4">
					<div class="media">
						<div class="media-left">
							<button class="button_panel" onclick="closeFacetsPeople()" id="close-people-fac">
								<i class="glyphicon glyphicon-remove index-close-icon"></i>
								<i class="glyphicon glyphicon-fullscreen index-fullscreen-icon" style="display: none;"></i>
							</button>
						</div>
						<div class="media-body">
							<h4 id="facets_title">Filters</h4>
							<a class="seeWorks pointer" id="clear_res_ind" style="display:none;" onclick="removeCheckWorks()"></a>
						</div>
						<!-- div to show only when the panel is closed -->
						<div class="vertical-position-filters">
							<span class="filters_category_title filters_placeholder" style="display: none;">Filters</span>
						</div>
						<div id="closeFacets_div_people">
							<div data-title="Works" data-intro="Specifically, you can filter one or more works using these checkboxes." data-step="5">
								<span class="panel-title" data-toggle="collapse"
								data-target="#index-works" aria-expanded="true"
								aria-controls="index-works">
								<button class="filters_icon filter_background_pink"><i class="glyphicon glyphicon-book"></i></button><span class="filters_category_title" id="filters_works">Works</span>
								</span>
								<div class="collapse in filters-resize-plus filters_ipad_turn" id="index-works">

									<!-- work and author -->
									<form class="checkbox_margin">
											$for work in sortedWorkAuth:
											<div>
												$ dataTarget = re.sub('[^A-Za-z0-9]+', '', work)
												<input type="radio" class="worksCheckIndex" work="$dataTarget">
												<label class="labelInline">$work.replace('=', ', ').replace('#', '')</label>
											</div>
									</form>
								</div>
							</div>
							<hr class="filters_category_title_nested">
							<!-- intro.js tutorial step 5 -->
							<div data-title="Types of excerpts" data-intro="Here instead there is a legenda: buttons corresponding comments, quotations, and translations are highlighted in green, orange, and yellow respectively." data-step="5">
								<span class="panel-title" data-toggle="collapse"
								data-target="#index-works-legenda" aria-expanded="true"
								aria-controls="index-works-legenda">
								<span class="filters_category_title" id="filters_excerpts">Type of excerpts</span>
								</span>
								<div class="collapse in" id="index-works-legenda">
									<form class="checkbox_margin" id="check-excerpt-container">
										<!-- Comment -->
										<label class="labelInline comm_label" id="comment">Comments</label> <span class="dot background_green"></span>
										<br>
										<!-- Quotation -->
										<label class="labelInline quot_label" id="quotation">Quotations</label> <span class="dot background_pink"></span>
										<br>
										<!-- Translation -->
										<label class="labelInline tra_label" id="translation">Translations</label> <span class="dot background_yellow"></span>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-10 col-sm-9" id="page_panel_tool_people">
					<!-- intro js -->
					<div class="row">
						<div class="col-md-12">
							<!-- change id -->
							<button class="button_snippet button_reset float-right margin-top-15" id="intro-js-library"><i class="fas fa-question"></i></button>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 panel_tool panel_tool_page page_panel_tool_people padding-top-0 responsive-height">
							<div class="col-md-12 col-sm-12">
								<div class="media">
									<div class="media-left">
										<button class="button_panel" onclick="openPagePeople()">
											<i class="glyphicon glyphicon-remove" id="page-close-icon" style="display: none;"></i>
											<i class="glyphicon glyphicon-fullscreen" id="page-fullscreen-icon"></i>
										</button>
									</div>
									<div class="media-body">
										<ul class="nav nav-pills tab-works">
											<!-- intro.js tutorial step 2 -->
											<li role="presentation" class="filters_category_title active" data-title="List" data-intro="This view shows you a list of all cited works. Once you click on the occurrences related to a work, you will have the possibility to click on coloured tags to go to the corresponding notebook fragment." data-step="2"><a href="#" id="people_list">List</a></li>
											<!--<li role="presentation" data-title="Treemap" data-intro="This view shows you all cited works in a  Treemap chart." data-step="7"><a href="./treemapWorks" id="people_treemap">Treemap</a></li>
											<li role="presentation" data-title="Sets" data-intro="This view shows you all cited works as grouped sets." data-step="8"><a href="./setsWorks" id="people_sets">Sets</a></li>
											<li role="presentation"><a class="no-active-tab">|</a></li>
											<li role="presentation" data-title="Play with data" data-intro="This view allows you to browse the data and play with them." data-step="9"><a href="./playWithWorks" id="data_play">Play with data</a></li>-->
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-md-offset-4 col-sm-12 col-sm-offset-0 page_bars">
								<form>
									<!-- intro.js tutorial step 3 -->
									<input type="text" class="col-md-9 change-placeholder-indexes search_bar index-search-input margin-bottom-25" data-title="Search bar" data-intro="You can search for any keyword in the index by using this free-text search bar." data-step="3">
								</form>
							</div>

							<!-- authors list -->
							<div id="listWorks" class="scrollPanel padding-index col-md-12">
								<div id="listBibl">
									$for auth in dictIndexWorks:
									<!-- works index -->
									<div class="work">
										<div class="row">
											$ dataTarget = re.sub('[^A-Za-z0-9]+', '', auth.split('=')[0] + auth.split('=')[1])
											<div class="col-md-12 works-index-div filter" value="$dataTarget">
												<button class="filters_icon filter_background_pink">
													<i class="glyphicon glyphicon-book"></i></button>
													<span class="filters_category_title cited-pers">$auth.split('=')[0]</span>
												<div class="row">
													<div class="col-md-12">
														<!-- author -->
														<h4 class="work-aut">$auth.split('=')[1].replace('#', '')</h4>
														<!-- number of citations -->
														<!-- id for collapse -->
														<h4 class="work-aut caret-library" data-toggle="collapse" data-target="#$dataTarget" aria-expanded="false" aria-expanded="false"><span class="filters_icon"><i class="far fa-chart-bar"></i></span> <b>$len(dictIndexWorks[auth])</b> <span class="font-size-15 occurrences_ex">occorrenze</span></h4>
														<!-- collapsible excerpts container -->
														<div class="collapse work-card-collapse" id="$dataTarget" aria-expanded="false">
															<div class="row">
																$for cit in dictIndexWorks[auth]:
																	$if 'comm-' in cit:
																		<!-- comm -->
																		<div class="row ex-butt panel_tool_metadata padding-21">
																			<div class="col-md-2">
																				<a href="./excerpt-$cit.split('----')[0]" class="quotRef text_black_exc" target="_blank">
																					<button class="checkButt comm-but">
																						<span>$cit.split('----')[0]</span>
																					</button>
																				</a>
																			</div>
																			<div class="col-md-10">
																				<div class="margin-top-10 justify">
																					<span class="font-size-15 thin comm_on">Commento su</span>
																					<span class="bold font-size-15">$cit.split('----')[1]</span>
																				</div>
																			</div>
																		</div>
																	$elif 'quot-' in cit:
																		$ ex = cit.split('----')[0]
																		$ code = ex.split('-')[1]
																		<!-- quot -->
																		<div class="row ex-butt panel_tool_metadata padding-21">
																			<div class="col-md-2">
																				<a href="./excerpt-$ex" class="quotRef text_black_exc" target="_blank">
																					<button class="checkButt quot-but">
																						<span class="n_quot">cit-</span>
																						<span>$code</span>
																					</button>
																				</a>
																			</div>
																			<div class="col-md-10">
																				<div class="margin-top-10 justify">
																					<span class="font-size-15 thin quot_of">Citazione da</span>
																					<span class="bold font-size-15">$cit.split('----')[1]</span>
																				</div>
																			</div>
																		</div>
																	$else:
																		<!-- tra -->
																		<div class="row ex-butt panel_tool_metadata padding-21">
																			<div class="col-md-2">
																				<a href="./excerpt-$cit.split('----')[0]" class="quotRef text_black_exc" target="_blank">
																					<button class="checkButt tra-but">
																						<span>$cit.split('----')[0]</span>
																					</button>
																				</a>
																			</div>
																			<div class="col-md-10">
																				<div class="margin-top-10 justify">
																					<span class="font-size-15 thin tra_of">Traduzione di</span>
																					<span class="bold font-size-15">$cit.split('----')[1]</span>
																				</div>
																			</div>
																		</div>
															</div>
														</div>
													</div>
												</div>
												<hr>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

	<!-- intro.js tutorial js -->
	<script src="https://unpkg.com/intro.js/minified/intro.min.js"></script>
	<script>
		$$("#intro-js-library").click(function () {
			introJs().start();
		});
	</script>
