$def with ()

<div class="container-fluid section_header" id="introContainer">
	<div class="container">
		<div class="row">
			<div class="col-md-12 align_center">
				<h2 id="licences_header_title"></h2>
				<a href="#licences_anchor"><i class="fas fa-chevron-down intro_go"></i></a>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid background_dark" id="licences_anchor">
	<div class="container" id="intro_anchor">
		<div class="row">
			<div class="col-md-12 justify">
				<p class="align_center" id="licences_1">The code of the application is available under <a href="https://creativecommons.org/share-your-work/public-domain/cc0/" target="_blank" alt="CC0 licence of the application code">CC0 licence</a> on <a href="https://github.com/marilenadaquino/bufalinis-notebook" class="link" target="_blank" alt="Link allapplicazione su Github">Github</a>.</p>
				<p class="align_center">
					<a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank" alt="Dataset licence"><img alt="Licenza Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png"/></a></a>.
				</p>
				<p class="align_center" id="licences_2">The dataset of the notebook and the previous Web application version are available under <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank" alt="Dataset licence">CC BY 4.0 licence</a> on <a href="https://doi.org/10.6092/unibo/amsacta/6415" class="link" target="_blank" alt="Link to dataset on AMSActa">AMSActa</a>.</p>
				<p class="align_center" id="licences_3">The images of the notebook are available on <a href="https://doi.org/10.6092/unibo/amsacta/6415" class="link" target="_blank" alt="Link al dataset dellapplicazione su AMSActa">FICLIT Digital Library</a>. All rights reserved. Any other reproduction or distribution is prohibited.</p>
			</div>
		</div>
	</div>
</div>

<!-- footer -->
<div class="container-fluid background_red">
    <div class="container footer">
        <div class="row">
            <div class="col-md-5 col-sm-6 justify">
                <h4 class="text_light" id="footer_title_1"></h4>
                <p class="text_light footer_text"><a href="/sparql" target="_black" class="link_footer">SPARQL endpoint</a></p>
                <p class="text_light footer_text"><a href="/downloadDataset" target="_blank" class="link_footer" id="footer_download">Download the dataset</a></p>
            </br>
                <p class="text_light footer_text"><a href="/specifications" target="_blank" class="link_footer" id="footer_documentation_1">Technical specifications</a></p>
                <p class="text_light footer_text"><a href="/webApplication" target="_blank" class="link_footer" id="footer_web_app">Web application</a></p>
                <!--<p class="text_light footer_text"><a href="/publications" target="_blank" class="link_footer" id="footer_pub"></a></p>-->
            </br>
                <p class="text_light footer_text"><a href="/credits" target="_blank" class="link_footer">Credits</a></p>
                <p class="text_light footer_text"><a href="/licences" target="_blank" class="link_footer" id="footer_licences">Licences</a></p>
            </div>
            <div class="col-md-6 col-sm-6 col-md-offset-1 justify">
                <h4 class="text_light">/DH.arc - Digital Humanities Advanced Research Centre</h4>
                <p class="text_light footer_text"><a href="https://centri.unibo.it/dharc/en" target="_black" alt="Dharc website" class="link_footer">About</a></p>
                <p class="text_light footer_text"><a href="https://centri.unibo.it/dharc/en/research/projects-at-dh-arc" target="_black" alt="Dharc website" class="link_footer" id="dharc_projects_documentation">All /DH.arc projects</a></p>
                <p class="text_light footer_text"><a href="https://centri.unibo.it/dharc/en/contacts" target="_black" alt="Dharc website" class="link_footer" id="footer_contacts">Contacts</a></p>
            </br>
                <img src="static/img-web-app/dharc_logo.png" class="img-xs" id="logo_dharc">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid background_red_light">
	<div class="container">
		<div class="row">
			<div class="col-md-12 justify">
			   <p class="align_center footer_copyright text_light">© Copyright (c) 2020 by /DH.arc - Digital Humanities Advanced Research Centre.</p>
			</div>
		</div>
	</div>
</div>
