$def with ()

<div class="container-fluid section_header" id="introContainer">
	<div class="container">
		<div class="row">
			<div class="col-md-12 align_center">
				<h2 id="biblio_header_title"></h2>
				<a href="#publication_anchor"><i class="fas fa-chevron-down intro_go"></i></a>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid background_light" id="publication_anchor">
	<div class="container" id="intro_anchor">
		<div class="row">
			<div class="col-md-12 justify">
				<p class="col-md-12" id="bibl_1"></p>
				<p class="col-md-12" id="bibl_2"></p>
			</div>
		</div>
	</div>
</div>

<!-- footer -->
<div class="container-fluid background_red">
    <div class="container footer">
        <div class="row">
            <div class="col-md-5 col-sm-6 justify">
                <h4 class="text_light" id="footer_title_1"></h4>
                <p class="text_light footer_text"><a href="/sparql" target="_black" class="link_footer">SPARQL endpoint</a></p>
                <p class="text_light footer_text"><a href="/downloadDataset" target="_blank" class="link_footer" id="footer_download"></a></p>
            </br>
                <p class="text_light footer_text"><a href="/specifications" target="_blank" class="link_footer" id="footer_documentation_1"></a></p>
                <p class="text_light footer_text"><a href="/webApplication" target="_blank" class="link_footer" id="footer_web_app"></a></p>
                <!--<p class="text_light footer_text"><a href="/publications" target="_blank" class="link_footer" id="footer_pub"></a></p>-->
            </br>
                <p class="text_light footer_text"><a href="/credits" target="_blank" class="link_footer">Credits</a></p>
                <p class="text_light footer_text"><a href="/licences" target="_blank" class="link_footer" id="footer_licences"></a></p>
            </div>
            <div class="col-md-6 col-sm-6 col-md-offset-1 justify">
                <h4 class="text_light">/DH.arc - Digital Humanities Advanced Research Centre</h4>
                <p class="text_light footer_text"><a href="https://centri.unibo.it/dharc/en" target="_black" alt="Dharc website" class="link_footer">About</a></p>
                <p class="text_light footer_text"><a href="https://centri.unibo.it/dharc/en/research/projects-at-dh-arc" target="_black" alt="Dharc website" class="link_footer" id="dharc_projects_documentation"></a></p>
                <p class="text_light footer_text"><a href="https://centri.unibo.it/dharc/en/contacts" target="_black" alt="Dharc website" class="link_footer" id="footer_contacts"></a></p>
            </br>
                <img src="static/img-web-app/dharc_logo.png" class="img-xs" id="logo_dharc">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid background_red_light">
	<div class="container">
		<div class="row">
			<div class="col-md-12 justify">
			   <p class="align_center footer_copyright text_light">© Copyright (c) 2020 by /DH.arc - Digital Humanities Advanced Research Centre.</p>
			</div>
		</div>
	</div>
</div>
