$def with (data, entity)
<html>
	<head>
	    <title>$entity</title>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1" />
	    <link rel="icon" href="static/favicon.ico" />
	    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	    <style type="text/css">
	    	/* resources content negotiation */
			.rdf {border-bottom: solid 1px lightgrey; padding: 0.5em 0px; margin: 0.5em 0px; word-wrap: break-word;}
	    </style>
	</head>
	<body class="container-fluid">
		<div class="se-pre-con"></div>
		<section class="col-md-12 main_content">
			$for result in data['results']['bindings']:
				$if result['predicate']['value'] == 'http://www.w3.org/2000/01/rdf-schema#label':
					<h2>$result['object']['value']</h2>
			$for result in data['results']['bindings']:
				$if 'subject' not in result.keys():
					<section>oooops not found</section>
				$elif result['subject']['value'] == entity:
					<section class="row rdf">
						<section class="col-md-4 prefix">$result['predicate']['value']</section>
						$if 'https://w3id.org/bufalinis-notebook/' in result['object']['value']:
							<section class="col-md-8"><a class="prefix" href=.../../../../resource/$result['object']['value'].replace('https://w3id.org/bufalinis-notebook/','')>$result['object']['value']</a></section>
						$elif ('http' not in result['object']['value']) or ('section' in result['object']['value']):
							<section class="col-md-8">$:result['object']['value']</section>
						$else:
							<section class="col-md-8"><a class="prefix" href=$result['object']['value']>$result['object']['value']</a></section>
					</section>
				$else:
					<section class="row rdf">
						<section class="col-md-4 prefix">[inverse property] $result['predicate']['value']</section>
						$if 'https://w3id.org/bufalinis-notebook/' in result['subject']['value']:
							<section class="col-md-8"><a class="prefix" href=.../../../../resource/$result['subject']['value'].replace('https://w3id.org/bufalinis-notebook/','')>$result['subject']['value']</a></section>
						$elif ('http' not in result['object']['value']) or ('section' in result['object']['value']):
							<section class="col-md-8">$:result['subject']['value']</section>
						$else:
							<section class="col-md-8"><a class="prefix" href=$result['subject']['value']>$result['subject']['value']</a></section>
					</section>
		</section>

	</body>
</html>
