
@font-face { font-family: 'main'; src: url('main.otf');}
@font-face { font-family: 'medium'; src: url('medium.otf');}


/* blocks */
body { font-family: 'main', sans-serif; font-size: 2em; color: #404040; background-color: #EFEFEF; top:0; }
h1 {letter-spacing: 0.05em; padding-left: 1em; vertical-align: middle; font-family: 'medium'; text-transform: uppercase; font-size: 1.9rem;}
header { position: fixed; width: 100%; background-color: #fff; z-index: 1000;}
header * {display: inline-block; color: #2F2F2F;}
nav {padding-left: 20%;}
nav a {padding-right: 1.3em; }
#lang a {padding: 0px 0.5em !important; color: lightgrey;}
a:hover , #lang a:hover {text-decoration: none; color: #30D5C8;}
.main_content {margin-top: 3.5em;}
/* edition */
/* left column */
#textViewer { margin-left: -30px;}
#output { display:block; clear:left; margin-top:2em; font-size: 1.5rem;}
#output i {color: #808080;}
h4 { text-transform: uppercase; font-family: 'medium'; font-size: 1.5rem; letter-spacing: 0.02em; 
		padding: 0.5em 0px !important; margin: 0.5em 0px;border-bottom: solid 1px ;}
#output h4:first {border: none !important;}

/* mapify */
area { cursor: pointer;}
.mapify-holder{ max-width: 90%; min-width: 500px; height: auto; }
.opening-pages { width: 100%;height: auto;}
#viewer { padding: 0;}
#viewerContainer > button , #viewerContainer > #viewer {display: inline-block;}
#next {float: right;}
#prev , #next {border-radius: 50%; border: none; height: 1em; width: 1em; text-align: center; vertical-align:top; padding:0px; color: #EFEFEF; background-color: grey;}
#prev:hover , #next:hover {background-color: #30D5C8;}

/* modal: styling tei */
.tei_transcription{margin-left:80px;}
l, lb , bibl , title {display: block !important;}
bibl {font-style: italic;}
add[place='above'] {display: inline-block; font-weight: bold;}
del {color:grey;}
gap {display: inline-block;}
#title { padding:0em 0.3em 0em 0.5em; border-bottom: solid 1px lightgrey; margin-bottom: 1em; }
*[rend='underline'] {border-bottom: solid 1px #404040;}
/* loader */
.no-js #loader { display: none; }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 9999; background: url(Preloader_5.gif) center no-repeat #fff;}

/* transcription: tei transformed in html */
.tei_transcription{position: relative; width:70%;}
.docTitle > section , .docTitle > p {display: inline-block;}
section{margin-top:7px;}
p.l{line-height: 80%;}
ins[data-place=above]{vertical-align: super;}
ins[data-place=below]{vertical-align: sub;}
.pb span {border-bottom: 1px solid #D3D3D3; color: #A9A9A9; width: 60%; display: block; padding-bottom: 0.5em; margin-bottom: 0.5em; font-family: 'main', sans-serif !important;}
.lb {display: block;}
blockquote{font-size:18.5px;}
.quote {font-family: 'Cormorant Garamond', serif;}
.gap {display: inline-block; width: 1em; height: 0.5em; background-color: #404040;}
.del {text-decoration:line-through; color:grey;}
span.milestone{display:inline-block; width: 100%;}
*[data-rend='underline'] {text-decoration: underline;}
*[data-rend="short_double_hrule"]:before {content: '='; text-align:center;}
*[data-rend="double-hyphen"]:before {content: '=';}
*[data-rend="short_hrule"]:before {content: '-';}
*[data-rend="left-square-bracket right-square-bracket"]:before {content: '[';}
*[data-rend="left-square-bracket right-square-bracket"]:after {content: ']';}
*[data-rend='framed_left']{padding-left: 0.3em; border-left: solid 2px #D3D3D3;}
*[data-rend='ast_left_circled']:before{content: '* ';}
*[data-rend='ldquo rdquo']:before , *[data-rend='ldquo rdquo']:after , *[data-rend='ldquo']:before , *[data-rend='rdquo']:after {content: '"';}
*[data-rend='ldquo raquo']:before {content: '"';}
*[data-rend='ldquo raquo']:after {content: '»';}
*[data-rend='dash']:before {content: '- ';}
*[data-rend='laquo_raquo']:before {content: '«';}
*[data-rend='laquo_raquo']:after {content: '»';}
*[data-rend='double_underline'] {border-bottom: 3px double;}
.persName.tooltip {color:#337ab7; cursor:pointer;}
.div img {width: 100rem; height: auto;}
.tooltiptext-ref{visibility: hidden; position: absolute; z-index: 1; left: 90%; width: 50%; line-height: 110%;}
.tooltiptext{visibility: hidden; width: 140px; background-color: #fff; color: #404040; text-align: center; border: solid 1px #fff; padding: 5px 3px; position: absolute; z-index: 1; bottom: 100%; left: 50%; margin-left: -60px;  border:#337ab7 solid; border-width: 3px 0.1px 0.1px 0.1px;}
.tooltip-ref:hover .tooltiptext-ref {visibility: visible;}
.tooltip:hover .tooltiptext {visibility: visible;}
.tooltip {display:inline-block; position:relative; cursor: pointer; color:#337ab7; opacity: 100 !important; font-size:inherit !important; font-family:inherit !important;}
.tooltip-ref {display:inline-block; cursor: pointer;}

/* library */
.citedPerson {padding:1em; }
.work {display: flex; flex-wrap:wrap; padding:1em; height: 15em; overflow: hidden;}
.work > button , .work > section {display: flex; flex-direction:column;}
.workIcon {padding: 20px;}
.workIcon .icon-info {display: block; height: 1.3em; width: 1.3em; background-color: #404040; color: #EFEFEF; font-family: 'medium'; border-radius: 100px; margin-bottom: 1em; padding: 4px 3px 0 5px;}
.workIcon .icon-info:hover {background-color: #30D5C8; cursor: pointer;}
.workIcon .icon-info-i {color: #404040; margin-bottom: 1em;}
.workIcon .icon-info-i:hover {color: #30D5C8; cursor: pointer;}
.workIcon h3 , #uri h3 {font-family: 'Cormorant Garamond', serif;  margin-top: 0px !important; padding-left: 0px !important; font-size: 2.3rem;}
.workInfo p { font-size: 1.7rem;}
.workInfo ul {padding-left: 0px !important;}
.externalLinkLi {overflow: hidden;display: inline-block;}
.externalLinkLi a { opacity: 0; max-width: 0; display: inline-block; text-decoration: none; transition: max-width .5s ease-out .05s, opacity .5s ease-out .05s, color; }
.externalLinkLi a span{float:right; display: block; padding-right: 1em; font-size: 1.5rem;}
.externalLinkLi i { display: inline-block; }
.externalLinkLi:hover a { opacity: 1; max-width: 10em; transition: max-width .5s ease-out .05s, opacity .5s ease-out .05s, color .1s; }


.nav-tabs {margin-bottom: 1em;}
.nav-tabs>li>a {color: #404040; }
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {background-color: #EFEFEF; color: #30D5C8;}

/* library modals */
.modal-content {padding: 2em; text-align: left;}
.quotRef {line-height: 2em;}
.quotID { background-color:#404040; color:white; font-family: 'medium', sans-serif; padding:5px; border-radius: 3px;}
.quotID:hover {background-color: #30D5C8; cursor: pointer; color: #fff;}

/* indexes */
#listPeople > .quotRef {display: inline !important; float: left; margin-right: 0.3em;}
#listPeople > .citing-entity + .quotRef {margin-left: 2.8em; clear: left;}
.citing-entity {clear: left;}
#listPeople > .citing-entity {margin-left: 2em;}
.citedPerson:not(:first-child) {border-top: solid 1px lightgrey; margin-top: 2em;}
.citedPerson + .citing-entity {margin-top: -2em;}
.influence {font-size: 0.9em; margin-left: -1em; color: grey;}

/* excerpt */
.inline > h2 , .inline > section {display: inline-table; vertical-align: text-top; }
.inline > section > ul {display: inline-table; }
.inline > section {padding-top: 1em;}
.inline h2 {width: 3em; text-align: center;}
#text {font-family: 'Cormorant Garamond' !important; }

