$def with ()

	
	<section class="col-md-10">BUFALINI P. 1974, <i>Il divorzio in Italia</i>, Roma, Editori Riuniti.</section>
	<section class="col-md-10">BUFALINI P. 1978, <i>Terrorismo e democrazia</i>, Roma, Editori Riuniti.</section>
	<section class="col-md-10">BUFALINI P. 1982, <i>Euromissili, Polonia e la nostra discussione con il PCUS</i>, Roma, PCI.</section>
	<section class="col-md-10">BUFALINI P. 1982, <i>Uomini e momenti della vita del PCI</i>, Roma, Editori Riuniti.</section>
	<section class="col-md-10">BUFALINI P. 1985, <i>Discorso inaugurale, in Latino e Scuola</i>, Roma, Istituto Nazionaledi Studi Romani, 11-15.</section>
	<section class="col-md-10">BUFALINI P. 1987, <i>Traduzione di carmi d’Orazio</i>, Aufidus 3, 107-112.</section>
	<section class="col-md-10">BUFALINI P. 1993, <i>Quinto Orazio Flacco, A Leuconoe e altre poesie</i> tradotte da P.B., Introduzione di N. Sapegno, Milano, Scheiwiller (1982).</section>
	<section class="col-md-10">BUFALINI P. 1993, <i>La poesia di Orazio: sul crinale fra due epoche</i>, Tempo Presente 155, 32-40 (edito anche come volumetto, con prefazione di G. LAZZARI,Sant’Oreste, Apeiron, 1993).</section>
	<section class="col-md-10">BUFALINI P. 2002, <i>Gli anni del confino, della guerra e della prigionia (1942-1945)</i>, in <a href="#matteoli-2002">Matteoli-2002</a>, 143-157.</section>
	<section class="col-md-10">CITTI, F. 2008, Paolo Bufalini and the classics: towards a digital edition of his “Note-Book”. <i>Conservation Science in Cultural Heritage</i>, [S.l.], v. 8, p. 65-89. ISSN 1973-9494. Available at: <a href="https://conservation-science.unibo.it/article/view/1396/769">https://conservation-science.unibo.it/article/view/1396/769</a>. Date accessed: 18 jan. 2018. doi:<a href="https://doi.org/10.6092/issn.1973-9494/1396">https://doi.org/10.6092/issn.1973-9494/1396</a>.
	</section>	
	<section class="col-md-10">CITTI, F. 2010, I classici nelle carte di un politico. Traduzioni e appunti di Paolo Bufalini, <i>Aufidus</i> 70, 7-32.</section>
	<section class="col-md-10">FEDELI P. 1990, <i>Tradurre poesia, tradurre Orazio</i>, in F. SANTUCCI(ed.), Per il latino. Obiettivi e metodi nuovi, Perugia, IRRSAE, 85-103.</section>
	<section class="col-md-10">GIOVANNETTI F. 2015, <i>Combining TEI and Semantic Web Technologies to Annotate and Explore the Notebook of Paolo Bufalini (1915 -2001)</i>, Master Thesis. <a href="https://www.academia.edu/24548439/Combining_TEI_and_Semantic_Web_Technologies_to_Annotate_and_Explore_the_Notebook_of_Paolo_Bufalini_1915_-2001_"></a>PDF</section>	
	<section class="col-md-10" id="matteoli-2002">MATTEOLI G. (ed.) 2002, <i>Paolo Bufalini. L’impegno politico di un intellettuale</i>, Catanzaro, Rubbettino.</section>	
	<section class="col-md-10">NAPOLITANO G. 2002, <i>Le radici culturali</i>, in <a href="#matteoli-2002">Matteoli-2002</a>, 21-25</section>
	<section class="col-md-10">OTTAVIANI A. 1998, <i>Paolo Bufalini, in Orazio</i>. Enciclopedia oraziana, Roma, IEI, vol.III, 146-147.</section>	
	<section class="col-md-10">SILVESTRINI A., <i>Le relazioni Stato-Chiesa</i>, in <a href="#matteoli-2002">Matteoli-2002</a>, 31-36.</section>	

	
			
