$def with (source, motivation, text, work, workLabel, biblRef, creator, creatorID, translatorID, translator, page, sameAs)
$var mainjs = '/static/script/notebook.js'
$var imgResizer = '/static/script/imageMapResizer.min.js'
$var mapifyjs = '/static/script/jquery.mapify.js'
$var fontawesome = '/static/script/fontawesome-all.js'
$var i18n = '/static/script/jquery.i18n.properties.js'
$var cookies = '/static/script/cookies.js'
$var maincss = '/static/css/notebook.css'
$var mapifycss = '/static/css/jquery.mapify.css'

		<section class="col-md-8 inline">
			<h2><i class="far fa-gem"></i></h2>
			<section id="uri"><h3>$:biblRef</h3><a href=$:source>$:source</a><p>$motivation</p></section>
		</section>
		<section class="col-md-12 inline" id="textContainer">
			<h2><i class="fas fa-quote-left"></i></h2>
			<section id="text">$:text</section>
		</section>
		<section class="col-md-8 inline">
			<h2><i class="fas fa-bookmark"></i></h2>
			<section>
				<a class="page_link">$page</a> (quaderno di Paolo Bufalini)
			</section>
		</section>
		$if len(workLabel) > 0:
			<section class="col-md-8 inline">
				<h2></h2>
				<section id="biblRef"><b id="extracted_by">estratto da</b> $:workLabel
					<ul>
						$for result in sameAs['results']['bindings']:
							$if work == result['s']['value']:
								<li class="externalLinkLi">
									<i class="fas fa-external-link-alt"></i>
									<a href=$result['externalURI']['value'] title=$result['externalURI']['value']>
										$if 'dbpedia' in result['externalURI']['value']:
											<span>dbpedia</span>
										$elif 'viaf' in result['externalURI']['value']:
											<span>viaf</span>
										$elif 'worldcat' in result['externalURI']['value']:
											<span>worldcat</span>
										$else:
											<span>$result['externalURI']['value']</span>
									</a>
								</li>
					</ul>
					
				</section>
			</section>
		<section class="col-md-8 inline">
			<h2></h2>
			<section id="creator"><b id="i_author">autore</b> $:creator
				<ul>
					$for result in sameAs['results']['bindings']:
						$if creatorID == result['s']['value']:
							<li class="externalLinkLi">
								<i class="fas fa-external-link-alt"></i>
								<a href=$result['externalURI']['value'] title=$result['externalURI']['value']>
									$if 'dbpedia' in result['externalURI']['value']:
										<span>dbpedia</span>
									$elif 'viaf' in result['externalURI']['value']:
										<span>viaf</span>
									$else:
										<span>$result['externalURI']['value']</span>
								</a>
							</li>
				</ul>
				
			</section>
		</section>
		$if len(translator) > 0:
			<section class="col-md-8 inline">
				<h2><i class="fas fa-align-left"></i></h2>
				<section id="translator"><b id="i_translator">traduttore</b> $translator</section>
			</section>

		$for result in sameAs['results']['bindings']:
			$if 'relatedBody' in result.keys():
				<section class="col-md-8 inline">
					<h2><i class="fas fa-align-left"></i></h2>
					<section id="translator"><b id="related_text">testo collegato</b> $result['relatedBody']['value']</section>
				</section>


		<script type="text/javascript">
			// redirect from excerpts page (where the id of a single page number has to be substituted by an opening - 2 pages)
			  $$('.page_link').each(function() {
			    var singlePage = $$(this).text().substring($$(this).text().indexOf(" ") + 1);
			    var prevPage = parseInt(singlePage)-1;
			    var nextPage = parseInt(singlePage)+1;
			    if (singlePage % 2 === 0 && singlePage != parseInt(148) ) {
			      $$(this).attr('href','../viewer_'+singlePage+'-'+nextPage);
			    } else if (singlePage === parseInt(148) ) {
			    	$$(this).attr('href','../viewer_148card');
			    } else if (singlePage === parseInt(149) ) {
			    	$$(this).attr('href','../viewer_149');
			    } else {
			      $$(this).attr('href','../viewer_'+prevPage+'-'+singlePage);
			    }
			  });
		</script>

