$def with (active)
$var mainjs = '/static/script/notebook.js'
$var imgResizer = '/static/script/imageMapResizer.min.js'
$var mapifyjs = '/static/script/jquery.mapify.js'
$var fontawesome = '/static/script/fontawesome-all.js'
$var i18n = '/static/script/jquery.i18n.properties.js'
$var cookies = '/static/script/cookies.js'
$var maincss = '/static/css/notebook.css'
$var mapifycss = '/static/css/jquery.mapify.css'
$var yasguicss = '/static/css/yasgui.css'
      
        <div class="cover-container">
          

            <div class="cover">
                <h2 class="cover-heading">Paolo Bufalini - SPARQL endpoint</h2>
                <div id="yasqe"></div>
                <div id="yasr"></div>
            </div>
        </div>

        
        <!-- SPARQL GUI -->
        <script src='/static/script/yasr.bundled.min.js'></script>
        <script src='/static/script/yasqe.bundled.min.js'></script>
        <script src="/static/script/sparql.js"></script>
    </body>
</html>